$medium-blue: #245edb;
$light-blue: #0c8dea;
.startMenuContainer {
  width: 450px;
  background-color: $medium-blue;
  height: 650px;
  position: absolute;
  bottom: 5%;
  * {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .topBar {
    display: flex;
    align-items: center;
    background: linear-gradient(
        to bottom,
        #{$medium-blue} 0%,
        #3f8cf3 9%,
        #{$medium-blue} 18%,
        #{$medium-blue} 92%,
        #333 100%
      )
      center/cover no-repeat;

    img {
      width: 80px;
      height: 80px;
      margin: 10px;
      border: 3px solid white;
      border-radius: 5%;
    }
    p {
      font-size: 20px;
      font-weight: 600;
      color: white;
    }
  }
  .middleBar {
    display: flex;
    width: 100%;
    border: 1px solid $light-blue;
    height: 480px;

    .leftSide {
      background-color: white;
      width: 50%;
      .programs {
        display: flex;
        flex-direction: column;
        .program {
          display: flex;
          width: 90%;
          margin: 0 auto;
          padding: 10px;
          flex-direction: column;
          justify-content: center;

          font-family: Verdana, Geneva, Tahoma, sans-serif;

          h2 {
            font-size: 15px;
            font-weight: 600;
            margin: 0;
            padding: 0;
          }
          p {
            font-size: 12px;
            font-weight: 400;
            margin: 0;
            padding: 0;
            opacity: 0.7;
          }
          &:hover {
            background-color: $medium-blue;
            cursor: pointer;
            color: white;
          }
        }
        .divider {
          width: 80%;
          margin: 0 auto;
          height: 1px;
          background: linear-gradient(
              to right,
              transparent 0%,
              #aebad6 50%,
              transparent 100%
            )
            center/cover no-repeat;
        }
      }
    }
    .rightSide {
      color: rgb(55, 55, 56);
      background: rgb(211, 229, 250);
      width: 50%;
      .programsRight {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        
        font-family: Verdana, Geneva, Tahoma, sans-serif;

        p{
            font-size: 15px;
            font-weight: 600;
            margin: 0;
            padding: 10px;

            &:hover {
            background-color: $medium-blue;
            cursor: pointer;
            color: white;
          }
          
        }
        .last{
            margin-bottom: 10px;
        }
        .divider {
          width: 80%;
          margin: 0 auto;
          height: 1px;
          background: linear-gradient(
              to right,
              transparent 0%,
              #aebad6 50%,
              transparent 100%
            )
            center/cover no-repeat;
        }
        
      }
    }
    .divider {
      background: linear-gradient(
          to right,
          transparent 0%,
          #aebad6 50%,
          transparent 100%
        )
        center/cover no-repeat;
    }
  }
  .bottomBar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    width: 100%;

    .turnOffSide {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      width: 50%;
      padding: 1%;

      .fa-power-off {
        font-size: 30px;
        background-color: red;
        color: white;
        padding: 2%;
        border-radius: 10%;
      }
      p {
        font-size: 12px;
        font-weight: 600;
        color: white;
        margin-left: 10px;

        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome and Opera */
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}
